

<div class="row">
  <div class="large-6 columns">
  	<em>generated for {{renderWordLinkTitle word.word}} </em>

		{{> wordRender}}

		<dl class="accordion" data-accordion>
		  <dd class="accordion-navigation">
		    <a href="#wordSectionJSON">JSON</a>
		    <div id="wordSectionJSON" class="content">
		      <pre>
					{{{prettyPrintJson word}}}
					</pre>
		    </div>
		  </dd>
		</dl>
	</div>

  <div class="large-6 columns">
    	<em>fetched for {{renderWordLinkTitle word.word}} </em>

        {{{wordHTMLWiktionary}}}
	</div>
</div>

