 {{#ifWordLinkNotCurrentLang this}}
<span class="[round radius] label word-link-lang	"> {{wordLinkLangFull this}} </span>

{{/ifWordLinkNotCurrentLang}}

<a href="{{wordLinkHref this}}"> 



{{wordLinkWord this}}</a>



