 {{#ifWordLinkNotCurrentLang this}}
<span class="[round radius] label word-link-lang	"> {{wordLinkLangFull this}} </span>

{{/ifWordLinkNotCurrentLang}}

<a href=/{{wordLinkWord this}}/{{wordLinkLang this}}> 



{{wordLinkWord this}}</a>



