 <b><small>[{{wordLinkLangIconLabel this}}]</small></b>
<a href=/{{wordLinkWord this}}/{{wordLinkLang this}}> 

{{#ifWordLinkNotCurrentLang this}} {{/ifWordLinkNotCurrentLang}}

{{wordLinkWord this}}</a>



